﻿@model BulkyBook.Models.Category
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Category";
}
<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if(Model.Id!=0)
        {
            //edit
            title = "Edit Category";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if(Model.Id!=0)
                    {
                        <partial name="_EditBackToListBtn" model="Model.Id" />
                    }
                    else
                    {
                        <partial name="_CreateBackToListBtn" />
                    }

                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}

