﻿@model BulkyBook.Models.Company
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Add Company";
}
<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Id != 0)
        {
            //edit
            title = "Edit Company";
            <input type="hidden" asp-for="Id" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="StreetAddress"></label>
                </div>
                <div class="col-8">
                    <input asp-for="StreetAddress" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="City"></label>
                </div>
                <div class="col-8">
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="State"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="State" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PostalCode"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PhoneNo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PhoneNo" class="form-control" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="IsAuthorized"></label>
                </div>
                <div class="col-8">
                    <input type="checkbox" asp-for="IsAuthorized" class="form-control" />
                </div>
            </div>

            @*<div class="form-group row">
            <div class="col-4">
                <label>Category</label>
            </div>
            <div class="col-8">
                @Html.DropDownListFor(m => m.Company.CategoryId, Model.CategoryList, "-Select a Category", new { @class = "form-control" })
                <span asp-validation-for="Company.CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label>Cover Type</label>
            </div>
            <div class="col-8">
                @Html.DropDownListFor(m => m.Company.CoverTypeId, Model.CoverTypeList, "-Select a Cover Type", new { @class = "form-control" })
                <span asp-validation-for="Company.CoverTypeId" class="text-danger"></span>
            </div>
        </div>*@
            @*<div class="form-group row">
                <div class="col-4">
                    <label>Image</label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            </div>*@
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Id != 0)
                    {
                        <partial name="_EditBackToListBtn" model="Model.Id" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success form-control">Back</a>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
        @*@if(Model.Company.Id != 0)
        {
            <div class="col-3 offset-1 pt-4">
                <img src="@Model.Company.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
            </div>
        }*@
    </div>
    </form>

    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
        @*<script src="https://cdn.tiny.cloud/1/ozcvfxpcspibhg5k4fxrik1afjzz9qgy7bo7dj8mcyrhk6tl/tinymce/5/tinymce.min.js"></script>
        <script>

            tinymce.init({
                selector: 'textarea',
                plugins: 'lists',
                menubar: 'file edit format'
            });

            function validateInput() {
                if (document.getElementById("uploadBox").value == "") {
                    swal("Error", "please select an image", "error");
                    return false;
                }
                return true;
            }

        </script>*@ }

