﻿@model BulkyBook.Models.ViewModels.ShoppingCartVM

<form method="post">
    <br />
    @if(Model.ListCart.Count() > 0)
    {

    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Shopping Cart
                    </div>
                    <div class="col-6 text-right">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn-sm">Continue Shopping</a>
                    </div>
                </div>
                
                <div class="card-body">
                    @foreach (var item in Model.ListCart)
                    {
                        <div class="row">
                            <div class="d-none d-lg-block col-lg-1 text-center py-2">
                                <img src="@item.Product.ImageUrl" class="rounded" width="100%" />
                            </div>
                            <div class="col-12 text-sm-center col-lg-6 text-lg-left">
                                <h5><strong>@item.Product.Title</strong></h5>
                                <p><small>@item.Product.Description</small></p>
                            </div>
                            <div class="col-12 text-sm-center col-lg-5 text-lg-right row">
                                <div class="col-4 text-md-right" style="padding-top:5px;">
                                    <h6><strong>$ @item.Price<span class="text-muted">x</span>@item.Count</strong></h6>
                                </div>
                                <div class="col-6 col-sm-4 col-lg-6">
                                    <div class="float-right mx-1">
                                        <a asp-action="plus1" asp-route-cartId="@item.Id" type="submit" class="btn btn-primary">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                    <div class="float-right mx-1">
                                        <a asp-action="minus1" asp-route-cartId="@item.Id" type="submit" class="btn btn-danger">
                                            <i class="fas fa-minus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-2 col-sm-4 col-lg-2 text-right">
                                    <a asp-action="remove" asp-route-cartId="@item.Id" type="submit" class="btn btn-outline-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr />
                    }
                    <div class="row">
                        <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span class="text-info"> Total (USD)</span>
                                    <strong class="text-info">$ <span id="txtOrderTotal">@Model.OrderHeader.OrderTotal</span></strong>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                
                <div class="card-footer">
                    @*<div class="card-footer row">
           if (!Model.OrderHeader.ApplicationUser.EmailConfirmed && Model.OrderHeader.ApplicationUser != null && Model.OrderHeader.ApplicationUser.Company.IsAuthorized)
            {
                <div class="col-8 text-danger">
                    Email must be confirmed for authorized customers!
                </div>
                <div class="col-4 r">
                    <button type="submit" class="btn btn-outline-warning btn-sm">
                        Resend confirmation email
                    </button>
                </div>
            }
            else
            {
                <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">

                    <a asp-area="Customer" asp-controller="Cart" asp-action="Summary" class="btn btn-success form-control">Summary</a>
                </div>
            }
        </div>*@
                    <div class="card-footer row">
                        <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">

                            <a asp-area="Customer" asp-controller="Cart" asp-action="Summary" class="btn btn-success form-control">Summary</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    else
    {
        <div>Your cart is empty :-(</div>
    }
</form>
